In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
from PIL import Image

In [2]:
# Get the cluster labels and ids
df3 = pd.read_csv('three_cluster_model_labels.csv')
df3.drop(columns = 'Unnamed: 0', inplace = True)
df4 = pd.read_csv('four_cluster_model_labels.csv')
df4.drop(columns = 'Unnamed: 0', inplace = True)
display(df3.head(), df4.head())

   vessel_ID  image_ID  labels
0      18688     15819       1
1      17496     13961       2
2      17334     13780       1
3      19762     18235       1
4      28755     40646       2

   vessel_ID  image_ID  labels
0      18688     15819       2
1      17496     13961       0
2      17334     13780       2
3      19762     18235       2
4      28755     40646       1

In [3]:
# Create displays of random images by cluster for the three cluster model
cluster_labels = df3['labels'].unique()
for label in cluster_labels:
    temp = df3[df3['labels'] == label].sample(30)
    images = []
    for index in temp.index:
        filename = 'drawing_' + str(df3.loc[index, 'vessel_ID'])
        filename = filename + '_' + str(df3.loc[index, 'image_ID'])
        filename = '../images/' + filename + '.jpg'
        with Image.open(filename) as img:
            img.thumbnail((256, 256))
            img = img.convert(mode = 'RGB')
            images.append(img)
    new_img = Image.new('RGB', (1536, 1280))
    for i in range(30):
        x = (i % 6) * 256
        y = (i % 5) * 256
        new_img.paste(images[i], (x, y)) 
    new_img.save(f'images/three_cluster_visual_{label}.jpg')

In [4]:
# Create displays of random images by cluster for the four cluster model
cluster_labels = df4['labels'].unique()
for label in cluster_labels:
    temp = df4[df4['labels'] == label].sample(30)
    images = []
    for index in temp.index:
        filename = 'drawing_' + str(df4.loc[index, 'vessel_ID'])
        filename = filename + '_' + str(df4.loc[index, 'image_ID'])
        filename = '../images/' + filename + '.jpg'
        with Image.open(filename) as img:
            img.thumbnail((256, 256))
            img = img.convert(mode = 'RGB')
            images.append(img)
    new_img = Image.new('RGB', (1536, 1280))
    for i in range(30):
        x = (i % 6) * 256
        y = (i % 5) * 256
        new_img.paste(images[i], (x, y)) 
    new_img.save(f'images/four_cluster_visual_{label}.jpg')

In [5]:
# Get the data from the vessels.json file
with open('../lcp_data/vessels.json') as f:
    vessels_df = pd.DataFrame(json.load(f))

In [6]:
# Explore the vessels data
vessels_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16717 entries, 0 to 16716
Data columns (total 52 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       16717 non-null  int64
 1   category                 560 non-null    object
 2   chron                    13837 non-null  object
 3   uid                      560 non-null    object
 4   site                     16699 non-null  object
 5   site_ref                 0 non-null      object
 6   ware_id                  9303 non-null   float64
 7   created_at               16717 non-null  object
 8   updated_at               16717 non-null  object
 9   inventory_number         16717 non-null  object
 10  shape_id                 15638 non-null  float64
 11  funct_cat                7631 non-null   object
 12  shape_sub_group          13389 non-null  object
 13  shape_rtype              13391 non-null  object
 14  shape_sub_type           560 non-null    object
 15  user_id                  16666 non-null  float64
 16  old_region_id            255 non-null    float64
 17  pub_ref                  560 non-null    object
 18  color                    13911 non-null  object
 19  firing                   13548 non-null  object
 20  surface_treatment        13919 non-null  object
 21  manu_tech                16717 non-null  object
 22  arch_context             13990 non-null  object
 23  privacy_status           16717 non-null  int64
 24  site_type                13999 non-null  object
 25  period                   8390 non-null   object
 26  ware_visual_desc         96 non-null     object
 27  petrofab_visual_desc     9376 non-null   object
 28  petrofabric_id           5073 non-null   float64
 29  start_year               10728 non-null  float64
 30  end_year                 10728 non-null  float64
 31  references_data          5573 non-null   object
 32  thickness                16706 non-null  object
 33  height                   3882 non-null   object
 34  preserved_height         15598 non-null  object
 35  true_height              13933 non-null  object
 36  diameter_rim             4388 non-null   object
 37  estimated_diameter_rim   13233 non-null  object
 38  true_diameter_rim        15786 non-null  object
 39  max_diameter             9553 non-null   object
 40  estimated_max_diameter   16626 non-null  object
 41  true_max_diameter        16591 non-null  object
 42  diameter_base            1289 non-null   object
 43  estimated_diameter_base  15588 non-null  object
 44  true_diameter_base       16546 non-null  object
 45  slug                     16717 non-null  object
 46  acknowledgement          11910 non-null  object
 47  site_id                  16699 non-null  float64
 48  functional_category_id   13138 non-null  float64
 49  old_shape_name           8034 non-null   object
 50  has_petrography          16717 non-null  bool
 51  discarded_at             0 non-null      object
dtypes: bool(1), float64(9), int64(2), object(40)
memory usage: 6.5+ MB

In [7]:
# We will plot the cluster label with the location of the sherd
vessels_df = vessels_df[['id', 'site']]
vessels_df.set_index('id', inplace = True)
vessels_df

                                                    site
id
7      {'id': 1154, 'name': 'Mizpe Yammim', 'chron': ...
8      {'id': 1154, 'name': 'Mizpe Yammim', 'chron': ...
9      {'id': 1154, 'name': 'Mizpe Yammim', 'chron': ...
10     {'id': 1525, 'name': 'Qedesh', 'chron': None, ...
11     {'id': 1525, 'name': 'Qedesh', 'chron': None, ...
...                                                  ...
28784  {'id': 1396, 'name': 'Alaşehir', 'chron': None...
28785  {'id': 2341, 'name': 'Kula', 'chron': None, 'c...
28786  {'id': 2342, 'name': 'Büyükbelen', 'chron': No...
28787  {'id': 1396, 'name': 'Alaşehir', 'chron': None...
28788  {'id': 1396, 'name': 'Alaşehir', 'chron': None...

[16717 rows x 1 columns]

In [8]:
# Prepare the four model data frame
df4 = df4[['vessel_ID', 'labels']]
df4.set_index('vessel_ID', inplace = True)
df4

           labels
vessel_ID
18688           2
17496           0
17334           2
19762           2
28755           1
...           ...
16086           1
17941           2
20804           3
15235           3
18789           2

[8811 rows x 1 columns]

In [11]:
# Add the site data to the four cluster data frame
df4 = df4.join(vessels_df)

In [49]:

df4.loc[:, 'site'].values['lat']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices