In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
from PIL import Image

In [6]:
# Get the cluster labels and ids
df = pd.read_csv('three_cluster_model_labels.csv')
df.drop(columns = 'Unnamed: 0', inplace = True)

    vessel_ID  image_ID  labels
0       18688     15819       1
1       17496     13961       2
2       17334     13780       1
3       19762     18235       1
4       28755     40646       2
5       22232     22841       2
6       15947     10852       1
7       27761     39680       0
8       19300     17680       1
9       20289     16451       0
10      21240     20500       2
11      24493     28098       2
12      24044     26905       0
13      24584     28576       0
14      21639     21074       2
15      20340     16572       2
16      25975     33175       2
17      18611     15742       1
18      19230     16764       1
19      22604     23981       2

In [34]:
cluster_labels = df['labels'].unique()
for label in cluster_labels:
    temp = df[df['labels'] == label].sample(30)
    images = []
    for index in temp.index:
        filename = 'drawing_' + str(df.loc[index, 'vessel_ID'])
        filename = filename + '_' + str(df.loc[index, 'image_ID'])
        filename = '../images/' + filename + '.jpg'
        with Image.open(filename) as img:
            img.thumbnail((256, 256))
            img = img.convert(mode = 'RGB')
            images.append(img)
    new_img = Image.new('RGB', (1536, 1280))
    for i in range(30):
        x = (i % 6) * 256
        y = (i % 5) * 256
        #print(x, y)
        #print(i % 6, i % 5)
        new_img.paste(images[i], (x, y)) 
    new_img.save(f'images/cluster_visual_{label}.jpg')

In [32]:
16 % 5

1