In [3]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
from PIL import Image

In [4]:
# Get the cluster labels and ids
df3 = pd.read_csv('three_cluster_model_labels.csv')
df3.drop(columns = 'Unnamed: 0', inplace = True)
df4 = pd.read_csv('four_cluster_model_labels.csv')
df4.drop(columns = 'Unnamed: 0', inplace = True)
display(df3.head(), df4.head())

   vessel_ID  image_ID  labels
0      18688     15819       1
1      17496     13961       2
2      17334     13780       1
3      19762     18235       1
4      28755     40646       2

   vessel_ID  image_ID  labels
0      18688     15819       2
1      17496     13961       0
2      17334     13780       2
3      19762     18235       2
4      28755     40646       1

In [5]:
# Create displays of random images by cluster for the three cluster model
cluster_labels = df3['labels'].unique()
for label in cluster_labels:
    temp = df3[df3['labels'] == label].sample(30)
    images = []
    for index in temp.index:
        filename = 'drawing_' + str(df3.loc[index, 'vessel_ID'])
        filename = filename + '_' + str(df3.loc[index, 'image_ID'])
        filename = '../images/' + filename + '.jpg'
        with Image.open(filename) as img:
            img.thumbnail((256, 256))
            img = img.convert(mode = 'RGB')
            images.append(img)
    new_img = Image.new('RGB', (1536, 1280))
    for i in range(30):
        x = (i % 6) * 256
        y = (i % 5) * 256
        new_img.paste(images[i], (x, y)) 
    new_img.save(f'images/three_cluster_visual_{label}.jpg')

In [6]:
# Create displays of random images by cluster for the four cluster model
cluster_labels = df4['labels'].unique()
for label in cluster_labels:
    temp = df4[df4['labels'] == label].sample(30)
    images = []
    for index in temp.index:
        filename = 'drawing_' + str(df4.loc[index, 'vessel_ID'])
        filename = filename + '_' + str(df4.loc[index, 'image_ID'])
        filename = '../images/' + filename + '.jpg'
        with Image.open(filename) as img:
            img.thumbnail((256, 256))
            img = img.convert(mode = 'RGB')
            images.append(img)
    new_img = Image.new('RGB', (1536, 1280))
    for i in range(30):
        x = (i % 6) * 256
        y = (i % 5) * 256
        new_img.paste(images[i], (x, y)) 
    new_img.save(f'images/four_cluster_visual_{label}.jpg')